ul {
    padding: 0;
}

.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.toy-list li {
    display: grid;
    grid-template-rows: 6fr 1fr;
    background-color: var(--clr1bg);
    margin: 0.5em;
}