.toy-preview {
    text-align: center;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
}
.toy-preview h4{
    text-transform: capitalize;
    color: black;
}

.toy-preview .edit-btns {
    display: flex;
}

.toy-preview .edit-links {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    gap: 0.4em;

}

.toy-preview .edit-btns button {
    width: 100%;
}

.toy-preview img {
    max-width: 100px;
}