@font-face {
    font-family: dosis-bold;
    src: url(../../assets/fonts/Dosis/Dosis-Bold.ttf);
}

@font-face {
    font-family: dosis-regular;
    src: url(../../assets/fonts/Dosis/Dosis-Regular.ttf);
}

@font-face {
    font-family: dosis-extra-light;
    src: url(../../assets/fonts/Dosis/Dosis-ExtraLight.ttf);
}

@font-face {
    font-family: dosis-light;
    src: url(../../assets/fonts/Dosis/Dosis-Light.ttf);
}

@font-face {
    font-family: dosis-medium;
    src: url(../../assets/fonts/Dosis/Dosis-Medium.ttf);
}

@font-face {
    font-family: indie-flower;
    src: url(../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}


@font-face {
    font-family: pacifico;
    src: url(../../assets/fonts/Pacifico/Pacifico-Regular.ttf);
}