// COLOR PALETTE
$clr1: #ce3769;
$clr2: #3a3a3a;
$clr3: #fff;
$clr4: darken($clr3, 5%);
$clr5: #2d2d2d;
$clr-pink1: #ce3769;
$clr-pink2: #be2357;
$clr-pink3: #791b3a;
$clr-pink4: #46081d;
$clr-pink-light: #f07da3;
$clr-pink-very-light: #fedee9;
