.toy-filter {

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        
        background-color: rgba(240, 125, 163, 0.6);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        margin: auto;

        input {
            all: unset;
            max-width: 10rem;
            border-bottom: 1px solid $clr3;
            font-size: 0.8rem;

            &::placeholder {
                color: $clr3;
            }
        }
    }
}