ul {
    padding: 0;
}

.toy-list {
    list-style: none;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1020px;
    margin: auto;

    &>*:first-child{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

        img {
            max-height: 450px;
        }

        h1 {
            font-size: 3rem;
        }
      
    }

    &>*:nth-child(8){
        grid-column: 2 / span 2;
        grid-row: 4 / span 2;

        img {
            max-height: 450px;
        }

        h1 {
            font-size: 3rem;
        }
      
    }
}