.toy-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;

    max-width: 600px;

    padding: 1rem;
    background-color: $clr3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: auto;
    margin-block-start: 3rem;

    img {
        max-width: 150px;
        justify-self: center;
    }

    h1 {
        color: $clr1;
        grid-column: 1 / span 2;
        font-size: 1.6rem;
    }

    p {
        font-family: dosis-light;
    }

    p:first-of-type {
        grid-column: 1 / span 2;
        margin: 0;
        text-align: center;
        font-family: dosis-medium;
    }

    button {
        justify-self: center;
        
        width: 5rem;
        
        color: $clr-pink-light;
        font-family: dosis-medium;

        transition: 0.4s;
    }

    button:hover {
        color: $clr1;
        background-color: $clr3;
    }
}